<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BMMS</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- 初始化配置文件 -->
  <servlet>
  <servlet-name>SetConfigServlet</servlet-name>
  <servlet-class>dou.config.SetConfigServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SetConfigServlet</servlet-name>
  <url-pattern>/SetConfigServlet</url-pattern>
  </servlet-mapping>

<!-- 登录验证 -->
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>dou.webServlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

<!-- 添加客户信息 -->
  <servlet>
  <servlet-name>AddCustomerInfo</servlet-name>
  <servlet-class>dou.webServlet.AddCustomerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddCustomerInfo</servlet-name>
  <url-pattern>/AddCustomerInfo</url-pattern>
  </servlet-mapping>
  
<!-- 添加产品信息 -->
  <servlet>
  <servlet-name>AddProductInfo</servlet-name>
  <servlet-class>dou.webServlet.AddProductServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddProductInfo</servlet-name>
  <url-pattern>/AddProductInfo</url-pattern>
  </servlet-mapping>
 
<!-- 添加供应商信息 -->
  <servlet>
  <servlet-name>AddSupplierInfo</servlet-name>
  <servlet-class>dou.webServlet.AddSupplierServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddSupplierInfo</servlet-name>
  <url-pattern>/AddSupplierInfo</url-pattern>
  </servlet-mapping>
  
<!-- 删除客户信息 -->
  <servlet>
  <servlet-name>DelCustomerInfo</servlet-name>
  <servlet-class>dou.webServlet.DelCustomerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelCustomerInfo</servlet-name>
  <url-pattern>/DelCustomerInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 删除产品信息 -->
  <servlet>
  <servlet-name>DelProductInfo</servlet-name>
  <servlet-class>dou.webServlet.DelProductServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelProductInfo</servlet-name>
  <url-pattern>/DelProductInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 删除供应商信息 -->
  <servlet>
  <servlet-name>DelSupplierInfo</servlet-name>
  <servlet-class>dou.webServlet.DelSupplierServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelSupplierInfo</servlet-name>
  <url-pattern>/DelSupplierInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 处理销售单 -->
  <servlet>
  <servlet-name>ProcSalesOrder</servlet-name>
  <servlet-class>dou.webServlet.SalesOrderProcServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProcSalesOrder</servlet-name>
  <url-pattern>/ProcSalesOrder</url-pattern>
  </servlet-mapping>
  
  <!-- 获取要分析的销售单 -->
  <servlet>
  <servlet-name>SalesAnalyse</servlet-name>
  <servlet-class>dou.webServlet.SalesAnalyseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SalesAnalyse</servlet-name>
  <url-pattern>/SalesAnalyse</url-pattern>
  </servlet-mapping>
  
  <!-- 处理入库单 -->
  <servlet>
  <servlet-name>ProcWareHousingOrder</servlet-name>
  <servlet-class>dou.webServlet.WareHousingOrderProcServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProcWareHousingOrder</servlet-name>
  <url-pattern>/ProcWareHousingOrder</url-pattern>
  </servlet-mapping>
  
  <!-- 获取要分析的销售单 -->
  <servlet>
  <servlet-name>WareHousingAnalyse</servlet-name>
  <servlet-class>dou.webServlet.WareHousingAnalyseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>WareHousingAnalyse</servlet-name>
  <url-pattern>/WareHousingAnalyse</url-pattern>
  </servlet-mapping>
  
  <!-- 获取要分析的销售单 -->
  <servlet>
  <servlet-name>ProcPersonMessage</servlet-name>
  <servlet-class>dou.webServlet.PersionMessageProcServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProcPersonMessage</servlet-name>
  <url-pattern>/ProcPersonMessage</url-pattern>
  </servlet-mapping>
  
  <!-- 添加工程量信息 -->
  <servlet>
  <servlet-name>AddProjectQunatity</servlet-name>
  <servlet-class>dou.webServlet.AddProjectQunatityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddProjectQunatity</servlet-name>
  <url-pattern>/AddProjectQunatity</url-pattern>
  </servlet-mapping>
  
  <!-- 删除工程量信息 -->
  <servlet>
  <servlet-name>DelProjectQunatity</servlet-name>
  <servlet-class>dou.webServlet.DelProjectQunatityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelProjectQunatity</servlet-name>
  <url-pattern>/DelProjectQunatity</url-pattern>
  </servlet-mapping>
  
  <!-- 更新工程量信息 -->
  <servlet>
  <servlet-name>UpdateProjectQunatity</servlet-name>
  <servlet-class>dou.webServlet.UpdateProjectQunatityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UpdateProjectQunatity</servlet-name>
  <url-pattern>/UpdateProjectQunatity</url-pattern>
  </servlet-mapping>
  
    <!-- 更新工程量信息 -->
  <servlet>
  <servlet-name>GetOneProjectQunatityInfo</servlet-name>
  <servlet-class>dou.webServlet.GetOneProjectQunatityInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GetOneProjectQunatityInfo</servlet-name>
  <url-pattern>/GetOneProjectQunatityInfo</url-pattern>
  </servlet-mapping>
  
 <!-- 获取一个工程的全部文件信息 -->
  <servlet>
  <servlet-name>GetProjectFileInfo</servlet-name>
  <servlet-class>dou.webServlet.GetProjectPaidInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GetProjectFileInfo</servlet-name>
  <url-pattern>/GetProjectFileInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 上传文件 -->
  <servlet>
  <servlet-name>UploadFile</servlet-name>
  <servlet-class>dou.webServlet.UploadFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UploadFile</servlet-name>
  <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  
  <!-- 下载文件 -->
  <servlet>
  <servlet-name>DownloadFile</servlet-name>
  <servlet-class>dou.webServlet.DownloadFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DownloadFile</servlet-name>
  <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  
  <!-- 删除文件 -->
  <servlet>
  <servlet-name>DeleteFile</servlet-name>
  <servlet-class>dou.webServlet.DelFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DeleteFile</servlet-name>
  <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
  
  <!-- 增加一个批次信息 -->
  <servlet>
  <servlet-name>AddProjectQunatityBatch</servlet-name>
  <servlet-class>dou.webServlet.AddProjectQunatityBatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddProjectQunatityBatch</servlet-name>
  <url-pattern>/AddProjectQunatityBatch</url-pattern>
  </servlet-mapping>
  
  <!-- 删除一个批次信息 -->
  <servlet>
  <servlet-name>DelProjectQunatityBatch</servlet-name>
  <servlet-class>dou.webServlet.DelProjectQunatityBatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelProjectQunatityBatch</servlet-name>
  <url-pattern>/DelProjectQunatityBatch</url-pattern>
  </servlet-mapping>
  
  <!-- 获取一个项目的全部批次信息 -->
  <servlet>
  <servlet-name>GetProjectQunatityBatchInfo</servlet-name>
  <servlet-class>dou.webServlet.GetProjectQunatityBatchInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GetProjectQunatityBatchInfo</servlet-name>
  <url-pattern>/GetProjectQunatityBatchInfo</url-pattern>
  </servlet-mapping>
  
<!-- 删除一个出库订单信息 -->
  <servlet>
  <servlet-name>DelSalesOrder</servlet-name>
  <servlet-class>dou.webServlet.DelSalesOrderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelSalesOrder</servlet-name>
  <url-pattern>/DelSalesOrder</url-pattern>
  </servlet-mapping>
  
  <!-- 删除一个入库订单信息 -->
  <servlet>
  <servlet-name>DelWareHousingOrder</servlet-name>
  <servlet-class>dou.webServlet.DelWareHousingOrderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelWareHousingOrder</servlet-name>
  <url-pattern>/DelWareHousingOrder</url-pattern>
  </servlet-mapping>
  
  <!-- 增加一个付款信息 -->
  <servlet>
  <servlet-name>AddProjectPaidInfo</servlet-name>
  <servlet-class>dou.webServlet.AddProjectPaidInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddProjectPaidInfo</servlet-name>
  <url-pattern>/AddProjectPaidInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 获取一个项目的全部付款信息 -->
  <servlet>
  <servlet-name>GetAllProjectPaidInfo</servlet-name>
  <servlet-class>dou.webServlet.GetProjectPaidInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GetAllProjectPaidInfo</servlet-name>
  <url-pattern>/GetAllProjectPaidInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 删除一个付款信息 -->
  <servlet>
  <servlet-name>DelProjectPaidInfo</servlet-name>
  <servlet-class>dou.webServlet.DelProjectPaidInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DelProjectPaidInfo</servlet-name>
  <url-pattern>/DelProjectPaidInfo</url-pattern>
  </servlet-mapping>
  
  
</web-app>