<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BMMS</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- 初始化配置文件 -->
  <servlet>
  <servlet-name>SetConfigServlet</servlet-name>
  <servlet-class>dou.config.SetConfigServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SetConfigServlet</servlet-name>
  <url-pattern>/SetConfigServlet</url-pattern>
  </servlet-mapping>

<!-- 登录验证 -->
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>dou.webServlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

<!-- 添加客户信息 -->
  <servlet>
  <servlet-name>AddCustomerInfo</servlet-name>
  <servlet-class>dou.webServlet.AddCustomerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddCustomerInfo</servlet-name>
  <url-pattern>/AddCustomerInfo</url-pattern>
  </servlet-mapping>
  
<!-- 添加产品信息 -->
  <servlet>
  <servlet-name>AddProductInfo</servlet-name>
  <servlet-class>dou.webServlet.AddProductServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddProductInfo</servlet-name>
  <url-pattern>/AddProductInfo</url-pattern>
  </servlet-mapping>
 
<!-- 添加供应商信息 -->
  <servlet>
  <servlet-name>AddSupplierInfo</servlet-name>
  <servlet-class>dou.webServlet.AddSupplierServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddSupplierInfo</servlet-name>
  <url-pattern>/AddSupplierInfo</url-pattern>
  </servlet-mapping>
  
</web-app>